#productosContainer {
    margin-top: 50px;
}

.producto-card {
    margin-bottom: 20px;
}

.producto-card img {
    height: 200px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .row-cols-md-3 {
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }

    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .row-cols-lg-4 {
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }

    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

#Desta {
    background-color: #f8f9fa; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 20px; /* Espacio inferior */
}
